#!/usr/bin/env ruby

haml_options = { :format => :html5 }

# favicon

passthrough '/favicon/'

# ignore partials

compile %r{/assets/(javascripts|stylesheets)/(vendor|site)/.+} do
  # don’t compile partials
end

route %r{/assets/(javascripts|stylesheets)/(vendor|site)/.*} do
  nil
end

# stylesheets - javascripts

compile '/assets/(javascripts|stylesheets)/main' do
  filter :sprockets, {
     :css_compressor => :sass,
     :js_compressor => :uglifier
  }
end

route '/assets/(javascripts|stylesheets)/main' do
  Nanoc::Sprockets::Helper.asset_path(item)
end

# static

compile '/static/*' do
  # don't compile static
end

route '/static/*' do
  item.identifier.chop['/static/'.length-1..-1]
end

# media

route '/assets/medias/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

# font

route '/bower/font-awesome/fonts/*' do
  File.join('/assets', (Pathname.new(item.identifier).relative_path_from(Pathname.new('/bower/font-awesome/'))).to_s)
end

# bower

compile '/bower/*' do
  # don't compile static
end

route '/bower/*' do
  nil
end

# anything else

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    case item[:extension]
    when 'erb'
      filter :erb
    when 'haml'
      filter :haml, haml_options
    when 'haml', 'html'
      layout 'default'
    end
  end
end


route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, haml_options
